<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UpdateUser</title>
</head>
<body>
    <h1>List of users</h1>

    <ul>

        <li th:each="singleuser: ${users}">

           <!-- <a th:href="@{'/list/' + ${singleuser.id}}"></a>-->
                <span>Id: </span><span th:text="${singleuser.id}" ></span><br/>
                <span>Username: </span><span th:text="${singleuser.username}" ></span>


            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/list/' + ${singleuser.id}}"><button>Update password</button></a>
                <div hidden><a th:href="@{'/delete/' + ${singleuser.id}}"><button>Delete user</button></a></div>
            </div>
        </li>

    </ul>
</body>
</html>